* {
    box-sizing: border-box;
    margin: 0;
}
h1{
    margin-bottom: 20px;
}
body {
    background-image: linear-gradient(to left, #b19ade, #3d416d);
    font-family: cursive;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(0,0,0,.5);
    border-radius: 14px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    margin-right:15px;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 14px;
    border: 1px solid black;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 14px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: cornflowerblue;
    border-radius: 14px;
}

.done {
    background-color: darkgray;
    color: #155724;
}
.done p{
    text-decoration: line-through;
}

li .delete-button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 14px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}
